<section class="about-section">
  <h2 class="section-title">About Me</h2>
  <span class="section-subtitle"> My Introduction </span>

  <div class="about-data">
    <p class="about-description">
      I am a dynamic and passionate developer. <br />I have experience working
      on full-stack projects in the following teck stack: Javascript,
      Typescript, Angular and Firebase.
    </p>
  </div>

  <div class="skills">
    <div class="skills-title">
      <tr>
        <h3>Front-end developer</h3>
        <p>HTML5 and CSS</p>
        <p>Javascript</p>
        <p>Boostrap</p>
        <p>Git/Github</p>
        <p>Typescript</p>
        <p>Angular</p>
      </tr>
    </div>
  </div>
</section>
