<div id="wrapper">
  <header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
    <div id="header" class="nav-collapse">
      <div class="row clearfix">
        <div class="col-1">
          <aside>
            <!--Social Icons in Header-->
            <ul class="social-icons">
              <li>
                <!-- <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24"
                  width="21"
                  viewBox="0 0 448 512"
                >
                  <path
                    d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"
                  />
                </svg> -->
                <a
                  target="_blank"
                  title="LinkedIn"
                  href="https://www.linkedin.com/in/puseletso-chuene-0840b8278/"
                >
                </a>
              </li>
              <li>
                <a
                  target="_blank"
                  title="Google+"
                  href="http://google.com/+username"
                >
                  <i class="fa fa-google-plus fa-1x"></i><span></span>
                </a>
              </li>
              <li>
                <a
                  target="_blank"
                  title="Twitter"
                  href="http://www.twitter.com/username"
                >
                  <i class="fa fa-twitter fa-1x"></i><span></span>
                </a>
              </li>
              <li>
                <a
                  target="_blank"
                  title="Instagram"
                  href="http://www.instagram.com/username"
                >
                  <i class="fa fa-instagram fa-1x"></i><span></span>
                </a>
              </li>
              <li>
                <a
                  target="_blank"
                  title="behance"
                  href="http://www.behance.net"
                >
                  <i class="fa fa-behance fa-1x"></i><span></span>
                </a>
              </li>
            </ul>
            <!--End of Social Icons in Header-->
          </aside>

          <div id="nav-trigger"><span></span></div>
          <nav id="nav-mobile"></nav>
        </div>
      </div>
    </div>
    <!--End of Header-->

    <!--Banner Content-->
    <div id="banner-content" class="row clearfix">
      <div class="col-38">
        <div class="section-heading">
          <h1>Puseletso</h1>
          <h1>Chuene</h1>
          <h2>CodeTribe Trainee</h2>
          <h2>
            I am an Angular developer based in Polokwane, South Africa. I love
            combining the worlds of logic & creative design to make beautiful,
            accessible and user-friendly web applications and recently venturing
            in mobile applications with Angular and Typescript .
          </h2>
        </div>
        <div class="profile-img">
          <img src="assets/profile.jpg" alt="" />
        </div>
        <!--Call to Action-->
        <a href="#" class="button">Say Hello</a>
        <!--End Call to Action-->
      </div>
    </div>
    <!--End of Row-->
  </header>
</div>
<main></main>
