
.logo {
  padding-right: 50px;
}
.nav-menu {
  padding: 10px;
  margin: 15px;
  display: flex;
  list-style: none;
  column-gap: 5rem;
  padding-left: 350px;
}

.nav-items:hover {
  color: #e9031d;
}
.fa-3x {
  color: hsl(0deg 0% 71.37%);
  font-size: 2rem;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.home-page {
  height: 50vh;
  border: 50px;
  justify-content: center;
  align-items: center;
  background: url("/assets/profile.jpg") no-repeat center center/cover;
  /* color: white; */
  text-align: center;
}
/* .home-description {
  max-width: 400px;
} */

