* {
  background-color: hsl(0, 0%, 98%);
}

.logo {
  padding-right: 50px;
}
.nav-menu {
  padding: 10px;
  margin: 15px;
  display: flex;
  list-style: none;
  column-gap: 5rem;
  padding-left: 350px;
}

.nav-items:hover {
  color: #e9031d;
}
.fa-3x {
  color: hsl(0deg 0% 71.37%);
}
a {
  text-decoration: none;
}
.home-img {
background: url(/src/assets/profile.jpg);
}
.home-description {
  max-width: 400px;
}