#projects {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .col-md-4 {
    flex: 1 1 100%; /* This will make each block full-width on small screens */
  }
}
.text-center {
background-color: white;
}
.btn-group button{
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  color: #fff;
}
.btn-group button:hover {
  color: #fff;
}